.link {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}

.link:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    .link {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}