:root {
    --bg-dark: #1A2F3A;
    --header-height: 70px;
    --aside-width: 225px;
    --footer-height: 50px;
    --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06)
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Layout em GRID */
.app {
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: "logo header" "nav content" "nav footer";
    height: 100vh;
    background-color: #F5F5F5;
}

.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.menu-area {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

